<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Bảng điều khiển</title>
  <script src="{{ url_for('static', filename='js/tailwind.min.js') }}"></script>
  <!-- Thêm thư viện XLSX -->
  <script src="{{ url_for('static', filename='js/xlsx.full.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dayjs.min.js') }}"></script>
  <style>
    body {
      touch-action: manipulation;
      /* Giữ thao tác cảm ứng bình thường, tắt zoom */
    }

  </style>
</head>

<body>
  <div class="h-dvh w-dvw bg-black flex flex-col items-center justify-center text-white">
    <div class="mt-6">
      <input type="file" id="excelFile" accept=".xlsx" class="hidden" onchange="handleFileUpload(event)" />
      <label for="excelFile" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg cursor-pointer">Upload
        Excel</label>
      <table id="fighterData" class="mt-6 table-auto w-full hidden border-separate border-spacing-0.5 rounded-lg">
        <thead>
          <tr class="bg-gray-800 text-white">
            <th class="px-4 py-2 text-left">Võ sĩ 1</th>
            <th class="px-4 py-2 text-left">Đội</th>
            <th class="px-4 py-2 text-left">Võ sĩ 2</th>
            <th class="px-4 py-2 text-left">Đội</th>
            <th class="px-4 py-2 text-left">Hạng Cân</th>
            <th class="px-4 py-2 text-left">Vòng</th>
            <th class="px-4 py-2 text-left">Đấu</th>
          </tr>
        </thead>
        <tbody>
          <!-- Add table rows here -->
        </tbody>
      </table>

    </div>
    <div>
      <div>
      
        <div class="flex space-x-16 mt-6">
          <div class="flex flex-col items-center">
            <h3 class="text-xl font-bold mb-4 text-blue-500 fighter1-name"></h3>
            <h3 class="text-xl font-bold mb-4 text-blue-500">Giáp Xanh</h3>
            <p class="text-4xl font-extrabold text-blue-600 mb-4 fighter1-score"></p>
            <div class="flex space-x-8 mb-3">
              <button onclick="addPoints('fighter1_score', 1)"
                class="bg-blue-500 text-2xl hover:bg-blue-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +1
              </button>
              <button onclick="addPoints('fighter1_score', 2)"
                class="bg-blue-500 text-2xl hover:bg-blue-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +2
              </button>
              <button onclick="addPoints('fighter1_score', 3)"
                class="bg-blue-500 hover:bg-blue-600 text-2xl text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +3
              </button>
            </div>
            <div class="flex space-x-8 mb-3">
              <button onclick="addPoints('fighter1_score', -1)"
                class="bg-blue-500 text-2xl hover:bg-blue-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -1
              </button>
              <button onclick="addPoints('fighter1_score', -2)"
                class="bg-blue-500 text-2xl hover:bg-blue-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -2
              </button>
              <button onclick="addPoints('fighter1_score', -3)"
                class="bg-blue-500 hover:bg-blue-600 text-2xl text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -3
              </button>
            </div>
          </div>

          <div class="flex flex-col items-center">
            <h3 class="text-xl font-bold mb-4 text-blue-500 fighter2-name"></h3>
            <h3 class="text-xl font-bold mb-4 text-red-500">Giáp Đỏ</h3>
            <p class="text-4xl font-extrabold text-red-600 mb-4 fighter2-score"></p>
            <div class="flex space-x-8 mb-3">
              <button onclick='addPoints("fighter2_score", 1)'
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +1
              </button>
              <button onclick='addPoints("fighter2_score", 2)'
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +2
              </button>
              <button onclick="addPoints('fighter2_score', 3)"
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                +3
              </button>
            </div>
            <div class="flex space-x-8 mb-3">
              <button onclick='addPoints("fighter2_score", -1)'
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -1
              </button>
              <button onclick='addPoints("fighter2_score", -2)'
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -2
              </button>
              <button onclick="addPoints('fighter2_score', -3)"
                class="bg-red-500 text-2xl hover:bg-red-600 text-white font-bold py-2 px-4 shadow-md transition-all transform active:scale-90 w-14 h-14 rounded-lg">
                -3
              </button>
            </div>
          </div>
          <div>
            <button onclick="startFighter('round_1')" class="bg-blue-500 ">
              Bắt đầu trận 1
            </button>
          </div>
          </div>
          </div>
    </div>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>

</html>
